#saves {
    border: 1px solid black;
    border-collapse: collapse;
    
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
td {
    vertical-align: top;
}
table.fifaTable {
    border: 1px solid black;
    border-collapse: collapse;
}
tr.fifaTable {
    /* border-bottom: 1px solid black; */
    cursor: default;
    /* border: 1px solid black; */
}
tr.fifaTable:last-child {
    border-bottom: none;
    /* text-align: center; */
}
/* tr.fifaTable:nth-child(even) {
    background-color: rgba(50, 173, 255, 0.37);
    background: linear-gradient(white, rgba(50, 173, 255, 0.37));
}
tr.fifaTable:nth-child(odd) {
    background-color: white;
    background: linear-gradient(rgba(50, 173, 255, 0.37), white);
} */
tr.fifaTable {
    background: linear-gradient(white, rgba(50, 173, 255, 0.37), white);
}
td {
    padding: 0px 5px;
}
tr.fifaTable:hover {
    background-color: rgba(24, 126, 194, 0.37);
}
tr.fifaTable:first-child {
    background: white;
}

#fifaContent {
    font-family: 'Arial Narrow Bold',Arial,sans-serif;
}
input.fifaRoster, select.fifaRoster, button.fifaRoster {
    background-color: rgba(255, 255, 255, 0.308);
    height: auto;
    padding: 2px;
    margin: 2px;
    width: auto;
}

#fifaPlayContent {
    clear: left;
    max-height: 100px;
}

#fifaPlayTables {
    display: block;
    /* background-color: black; */
}

#fifaPlayRoster {
    float: left;
}
#fifaPlayTable, #fifaPlayPower {
    display: inline-block;
}
#fifaPlayTable, #fifaPlayPower, #fifaPlayRoster {
    margin: 7px;
}

#fifaPlayBars {
    border: 1px solid black;
    height: 600px;
}

.fifaPlayBarSpacer {
    clear: both;
}

.fifaPlayBar {
    clear: left;
    margin-bottom: 5px;
    height: 20px;
}
.fifaPlayTab, .fifaPlayTabSelected {
    float: left;
    border: 1px solid black;
    border-right: none;
    /* width: 200px; */
    overflow: hidden;
    height: 100%;
    text-align: center;
    padding: 0px 10px;
    cursor: default;
}
.fifaPlayTab:first-child, .fifaPlayTabSelected:first-child {
    border-left: none;
}
.fifaPlayTabEnd {
    overflow: hidden;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 100%;
}
.fifaPlayTabSelected {
    border-bottom: none;
}

/******************************************************************************/
/*********************************** MODAL ************************************/
/******************************************************************************/
#fifaModal {
    display: block;
    background: white;
    border: 1px solid black;
    min-width: 400px;
    padding: 20px;
    font-size: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-right: 20px;
    box-shadow: 2px 2px;
    font-family: 'Arial Narrow Bold',Arial,sans-serif;
    max-height: 90%;
    /* overflow: scroll; */
    overflow: auto;
}

#fifaModalBackground {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    top: 0px;
    left: 0px;
}