.fifa {
    font-family: Arial, Helvetica, sans-serif;
}




table.fifa {
    width: 100%;
    border-collapse: collapse;
    cursor: default;
    font-size: 17px;
    background-color: white;
}
tr.fifa {
    width: 100%;
    background: linear-gradient(white, rgba(50, 173, 255, 0.37), white);
    border-collapse: collapse;
}
tr.fifa:hover {
    background-color: rgba(24, 126, 194, 0.37);
}
td.fifaCellButton {
    text-align: center;
}





button.fifa {
    width: 100%;
    font-size: larger;
    background: linear-gradient(white, rgba(50, 173, 255, 0.37), white);
}
button.fifaBack {
    width: max-content;
}
button.fifaTable {
    width: initial;
    font-size: medium;
}
button.fifaHalf {
    width: 49.3%;
    height: 100%;
}
button.fifaSelected {
    background-color: rgba(24, 126, 194, 0.37);
}
input.fifa {
    width: 100%;
    font-size: medium;
}
select.fifa {
    width: 100%;
    font-size: medium;
}

.fifaFixed {
    position: fixed;
    background-color: white;
    width: 96%;
}
select.fifaHeader {
    width: 100%;
    font-size: x-large;
}
option.fifaHeader {
    font-size: large;
}
th.fifaHeader {
    width: 100%;
}

#fifaPlayTables, #fifaPlayFixtures {
    display: none;
}